[submodule "sub/probit@law"]
	path = sub/probit@law
	url = https://github.com/probitlabs/law
[submodule "sub/b-life@typescript-etc"]
	path = sub/b-life@typescript-etc
	url = https://github.com/beyond-life/typescript-etc
